.item {
	margin: 80px 0px;
	color: white;
	flex-grow: 1;
	background-color: #121212;
	display: flex;
	position: relative;
	border-radius: 100px;
	height: 750px;
	padding: 50px 30px;
	gap: 60px;
	box-shadow: black 20px 20px 40px 20px, #121212 -20px -20px 40px 20px;
}

.title {
	font-weight: 100;
	font-family: "W3$iP", sans-serif;
	font-size: 90px;
	text-transform: uppercase;
}

.background {
	opacity: 0.2;
	border-radius: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.texts {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.controls {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.buttons {
	display: flex;
}

.explore, .code {
	gap: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	border: none;
	background-color: #121212 !important;
	border-radius: 24px;
	font-weight: 100;
	padding: 16px 34px;
}

.explore {
	color: #F40B5F;
	box-shadow: #F40B5F80 0px 6px 18px 0px;
	border-left: 1px #F40B5F solid;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-block: 1px #F40B5F solid;
	background: radial-gradient(circle at bottom, #F40B5F90, #121212 70%);
}

.code {
	color: white;
	box-shadow: #FFFFFF60 0px 6px 18px 0px;
	border-right: 1px #ffffff solid;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-block: 1px #ffffff solid;
	background: radial-gradient(circle at bottom, #ffffff90, #121212 70%);
}

.description {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	line-height: 160%;
}

.img {
	transition: .2s;
	flex-shrink: 1;
	max-width: 600px;
	z-index: 1;
	border-radius: 50px;
}

.projectInfo {
	height: auto;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.techList {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.exploreExpand {
	z-index: 1;
	transition: .2s;
	animation: exploreExpand .4s;
}

.exploreExpand:hover {
	filter: brightness(1.12);
}

.exploreCollapse {
	animation: exploreCollapse .4s;
}

.exploreCollapse > h1 {
	display: none;
}

.codeExpand {
	z-index: 1;
	transition: .2s;
	animation: codeExpand .4s;
}

.codeExpand:hover {
	
	filter: brightness(1.12);
}

.codeCollapse {
	animation: codeCollapse .4s;
}

.codeCollapse > h1 {
	display: none;
}

@keyframes exploreExpand {
	from {
		letter-spacing: -20px;
		width: 105px;
	}
	to {
		letter-spacing: normal;	
		width: 260px;
	}
}

@keyframes exploreCollapse {
	from {

		width: 260px;
	}
	to {
		letter-spacing: -20px;
		width: 105px;
	}
}

@keyframes codeExpand {
	from {
		letter-spacing: -20px;
		width: 105px;
	}
	to {	
		width: 212px;
	}
}

@keyframes codeCollapse {
	from {
		width: 212px;
	}
	to {
		letter-spacing: -20px;
		width: 105px;
	}
}

@media (orientation: portrait) {
	.item {
		align-items: center;
		flex-direction: column;
		margin: 10px 0px;
		height: fit-content;
		padding-block: 50px;
		gap: 10px;
	}

	.title {
		font-size: 8vw;
	}

	.techList > * {
		flex-grow: 1;
		max-width: 120px;
		height: 60px;
	}

	.techList {
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	.projectInfo {
		justify-content: center;
		gap: 35px;
	}

	.buttons {
		align-items: center;
		justify-content: center;
	}

	.buttons button {
		font-size: 2vw;
		width: 100%;
		height: 70px;
	}

	.description {
		font-size: 3vw;
	}

	.img {
		width: 100%;
	}

	.action {
		width: 46%;
	}

	.controls {
		gap: 50px;
	}
	
	.codeCollapse > h1 {
		display: initial;
		width: fit-content;
	}
	.exploreCollapse > h1 {
		display: initial;
		width: fit-content;
	}
	.exploreCollapse {
		animation: none;
	}
	.codeCollapse {
		animation: none;
	}
	

	.explore, .code {
		padding: 16px 16px;
		width: 50%;
		gap: 8px;
	}
}